body{
    background-color: #10092D;
}

#bloco{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: #F5D63D;
    width: 659px;
    height: 620px;
    border-radius: 5%;
    box-shadow: 0px 7px 15px 0px #3f3f3f;
}

#blocoDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}


#display{
    background-color: #251664;
    width: 614px;
    height: 349px;
    margin-top: 20px;
    border-radius: 23px;
    box-shadow: inset 1px 1px 15px 0px #000000;
}

#opcoes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

#imgPaper   {
    margin-left: 20px;
    margin-right: 20px;
}

.imgsOpt{
    padding: 20px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    box-shadow: 0px 5px 12px 0px #867420;
    border-radius: 10px;
    background-color: #F5D63D;

}

#textDply{
    position: relative;
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    top: 33%;
}

#resultDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 105%;
    width: 280px;
    height: 59px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px #03E535;
    margin-bottom: 30px;
}
